{
    "singleQuote": true,
    "bracketSpacing": true,
    "stylelintIntegration": true,
    "tslintIntegration ": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "printWidth": 80,
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "quoteProps": "consistent",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 160,
                "tabWidth": 4
            }
        }
    ]
}
