<app-header></app-header>
<ion-content>
  <ion-list *ngFor="let act of objectKeys(agenda)">
      <ion-item>
        <ion-label>{{agenda[act].Acte}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{agenda[act].Dia}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{agenda[act].Hora}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{agenda[act].LLoc}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label>{{agenda[act].Preu}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
<app-footer></app-footer>
